 
  

  <div class="container">    
    <div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title text-center">Weather</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <img src="assets/images/weather.jpg" alt="news" style="width: 200px;height: 100px; margin-right: auto; margin-left: auto; display: block;" />
                    <br>
                    <input type="text" style="width: 100%;padding: 10px;" [(ngModel)]="city" placeholder="Serach the city">
                    <br><br>{{city}}
                    <button type="button" class="btn-success" (click)="doSearch()">Search</button>
                  
                    </div>                     
                </div>  
                <div>
                    City : {{weatherData.name}}
                    <br><br>
                    Country : {{weatherData.sys.country}}
                    <br><br>
                    Temperature : {{weatherData.main.temp}} 
                    <br><br>
                    Humidity :{{weatherData.main.humidity}}
                </div>   
                <br><br><br><br><br><br><br>
    </div>
</div>


  <div class="footer" style="margin: auto;">
    <p style="text-align: center;">Copyright 2021 | All Rights Reserved.</p>
  </div>
